.login-container {
  display: flex;
  flex-direction: column; /* Dikey hizalama için */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

form {
  background-color: white;
  padding: 50px;
  border-radius: 40px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 400px; /* Sabit bir genişlik */
  max-width: 90%; /* Mobil görünüm için maksimum genişlik */
  text-align: center; /* Ortalamak için */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.remember-me input {
  margin-right: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0056b3; /* Mavi arka plan rengi */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px; /* Butonlar arasında boşluk bırak */
}

button:hover {
  background-color: #0056b3; /* Buton hover rengi */
}

.company-login {
  background-color: #0056b3; /* Yeşil arka plan rengi */
}

.company-login:hover {
  background-color: #0056b3; /* Yeşil buton hover rengi */
}

